.top-bar-enter-active,
.top-bar-leave-active {
  transition: all 0.5s ease;
}

.top-bar-enter-from,
.top-bar-leave-to {
  --uno: "opacity-0 transform -translate-y-full";
}

.slide-in-enter-active,
.slide-in-leave-active {
  --uno: "transition-all duration-250 pointer-events-none transform-gpu";
}

.slide-in-leave-to,
.slide-in-enter-from {
  --uno: "transform mt--10px opacity-0";
}

.slide-out-enter-active,
.slide-out-leave-active {
  --uno: "transition-all duration-300 pointer-events-none transform-gpu";
}

.slide-out-leave-to,
.slide-out-enter-from {
  --uno: "transform important:-translate-y-4 opacity-0";
}

.fade-enter-active,
.fade-leave-active {
  --uno: "transition-all duration-600";
}

.fade-leave-to,
.fade-enter-from {
  --uno: "opacity-0";
}

.hide {
  transform: translateY(-100%);
}

:deep(.search-bar) {
  input:not(:focus, :focus-within) {
    --uno: "!border-$bew-border-color !shadow-$bew-shadow-1";
  }
}

.bew-popover {
  --uno: "absolute";
  --uno: "overflow-hidden";
  --uno: "after:content-empty";
  --uno: "after:opacity-100 after:w-full after:h-100px";
  --uno: "after:absolute after:top--30px after:left-1/2 after:-z-1";
  --uno: "after:transform after:-translate-x-1/2";
}

.logo.activated {
  --uno: "bg-$bew-theme-color";

  svg {
    --uno: "!fill-white !filter-none";
  }
}

.right-side {
  .avatar {
    --uno: "flex justify-center items-center relative z-1 rounded-1/2 w-46px h-46px";

    &:hover::after,
    &.hover::after {
      --uno: "content-empty absolute right-0 top-20px w-110px h-120px";
    }

    .avatar-img,
    .avatar-shadow {
      --uno: "shrink-0 duration-300 rounded-1/2 w-34px h-34px bg-cover bg-center";

      &.hover {
        --uno: "transform scale-230 translate-y-50px translate-x--36px";
      }
    }

    .avatar-img {
      --uno: "z-1";
    }

    .avatar-shadow {
      --uno: "opacity-0 absolute top-0 z-0 pointer-events-none blur-sm";

      &.hover {
        --uno: "opacity-60";
      }
    }

    .vip-img {
      &.hover {
        --uno: "transform scale-180 translate-y-55px translate-15px";
      }
    }
  }

  .unread-num-dot {
    --uno: "absolute top--2px right--4px";
    --uno: "important:px-1 rounded-full";
    --uno: "text-xs leading-0 z-6 min-w-14px h-14px";
    --uno: "grid place-items-center";
    --uno: "bg-$bew-theme-color text-white shadow-$bew-shadow-1";
  }

  .unread-dot {
    --uno: "w-8px h-8px bg-$bew-theme-color rounded-8px absolute right-2px top-2px";
  }

  .right-side-item {
    --uno: "relative text-$bew-text-1 flex items-center";

    &:not(.avatar) a,
    & .notifications {
      --uno: "text-lg grid place-items-center rounded-40px duration-300 relative z-5";
      --uno: "h-34px w-34px";
      filter: drop-shadow(0 0 4px var(--bew-bg));
    }

    &.active a,
    & a:hover,
    & .notifications:hover,
    & .notifications:active {
      --uno: "bg-$bew-fill-2";
    }

    &.active a.white-icon,
    & a:hover.white-icon,
    & .notifications:hover.white-icon,
    & .notifications:active.white-icon {
      --uno: "bg-white bg-opacity-20";
    }

    & a.upload {
      --uno: "bg-$bew-theme-color-20 hover:bg-$bew-theme-color-40 text-$bew-theme-color";
    }

    &.active a.upload {
      --uno: "bg-$bew-theme-color-40";
    }

    &.active a.upload.white-icon {
      --uno: "!bg-white !bg-opacity-40";
    }

    .white-icon {
      --uno: "text-white";
      filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.6)) !important;

      &.upload {
        --uno: "!bg-white !bg-opacity-20 hover:!bg-white hover:!bg-opacity-40 !filter-none";
        --uno: "!text-white";
      }
    }
  }

  .right-side-item .login {
    --uno: "!w-auto !flex items-center bg-$bew-theme-color-10";
    --uno: "rounded-full important:text-$bew-theme-color important:px-4 hover:important-bg-$bew-theme-color hover:important-text-white important:text-base";
  }
}
